.background{
    height: 100vh;
    width: 100%;
    background-image: url("aud.jpg");
   background-size: cover;
   background-position: center;
}
.logo{
    width: 290px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 140px;
    margin-left:-145px;
}
.content{
    width: 100%;
    position: absolute;
    top: 5%;
}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    float: left;
}
.left-col2 {
    margin-left: 70px;
    margin-top: 70px;
    margin-right: 65%;
    margin-bottom: 4%;
    display: flex;
    float: left;
}
.left-col2 p{
    font-size: 38px;
    color: #5f5f5f;
    font-weight: 350;
    margin-left: 60px;
}
#icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.left-col3 {
    margin-left: 70px;
    margin-top: 2px;
    margin-right: 65%;
    margin-bottom: 5%;
    display: flex;
    float: left;
}
.left-col3 p{
    font-size: 38px;
    color: #5f5f5f;
    font-weight: 350;
    margin-left: 60px;
}
#icon2{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.left-col4 {
    margin-left: 70px;
    margin-top: 2px;
    margin-right: 65%;
    margin-bottom: 6%;
    display: flex;
    float: left;
}
.left-col4 p{
    font-size: 38px;
    color: #5f5f5f;
    font-weight: 350;
    margin-left: 60px;
}
#icon3{
    width: 50px;
    height: 50px;
    cursor: pointer;
}



.right-col{
    margin-left: 70%;
}
.right-col p{
    font-size: 75px;
    color: #fff;
    line-height: 110px;
    float: left;
    margin-bottom: 90px;
    margin-top: 70px;
}
.video{
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 90px;
    display: flex;
    float: left;
}



.box-shadow {
    box-shadow: 5px 5px 15px #e74c3c;
}
#team.card {
    border-radius: 0;
    transition: all 0.3s ease-in;
}
#team.card:hover {
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
}
.container {
    font-family: 'Courier New', Courier, monospace;

}
.vids{
    margin-left: 120px;
}
.tareef h2{
    font-size: 20px;
    color: #5f5f5f;
    margin-left: 150px;
    
}
.tareef pre{
    font-size: 28px;
    color: #5f5f5f;
    float: right;
    display: flex;
    margin-right: 270px;
}